.ad__section {
    flex-direction: row;
}

.ad__section h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
    color: white;
}

.ad__section p {
    color: white;
}